$white: #ffffff;
$pale-grey: #f4f4f5;
$pale-grey-two: #f6f9fc;
$pale-grey-three: #ecf4fa;
$light-grey: #e0e0e0;
$light-grey-two: #d8d8d8;
$warm-grey: #999999;
$black: #000000;

$light-blue-grey: #d2e5f4;
$light-blue-grey-two: #bed6e9;
$light-blue-grey-three: #a9cce9;
$dark-sky-blue: #4fa6ed;
$blue: #4491ce;
$blue-two: #4090d0;
$blue-three: #317fbc;

$gold: #b0946c;
$light-gold: #cfa76f;
$very-light-gold: #ddb57c;

$beige: #e5c69b;
$light-beige: #f5d9b1;
$light-beige-two: #ffeacc;
$light-beige-three: #ffefd9;

$light-green: #4cd964;
$green: #00ff46;

$red: #ff0000;

$yellow: #efbf0b;
